name: Go Test on PR to Main

on:
  pull_request:
    branches:
      - main
      - production
  push:
    branches:
      - main
      - production
  workflow_dispatch:

jobs:
  go-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.22

      - name: Run tests
        run: go test ./...
